@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styles */
.App {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure the content above the footer takes up remaining space */
.container-fluid {
  flex: 1;
}

/* Footer styling */
.footer {
  background: linear-gradient(135deg, #6E48AA, #4776E6);
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}